:root {
  --calendar-background: #ffffff;
  --calendar-border: #cecece;
  --calendar-shadow: #e0e0e0;
  --tile-color: #000000;
  --tile-font-size: 18px;
  --tile-background-now: #292929;
  --tile-color-now: #ffffff;
  --tile-hover-background-now: #ef5350;
  --tile-hover-color-now: #fafafa;
  --tile-background-active: #dde9f6;
  --tile-color-active: #0075ff;
  --tile-hover-background-active: #0075ff;
  --tile-hover-color-active: #ffffff;
  --saturday-color: #0075ff;
  --sunday-color: #ff3232;
  --hover-date-background-color: #accff8;
}

.react-calendar {
  width: 530px;
  padding: 1rem;
  max-width: 100%;
  background: var(--calendar-background);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 10px;
  box-shadow: 0px 0px 20px var(--calendar-shadow);
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 1rem;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__navigation__label {
  font-size: 1rem;
  font-weight: bold;
}

.react-calendar__tile {
  height: 80px;
  border-radius: 8px;
}

.react-calendar__tile.saturday {
  color: #6560ff;
}

.react-calendar__tile--hasActive {
  background: var(--tile-background-active);
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  background: var(--calendar-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  color: var(--tile-color);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--tile-hover-background-active);
  color: var(--tile-hover-color-active);
}

.react-calendar__tile--active {
  background-color: var(--hover-date-background-color);
  color: #0075ff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--calendar-border);
}
